PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=life_lite
DB_USER=postgres
DB_PASSWORD=your_password_here
DATABASE_URL=postgres://vanessaolivos:Medion2008!@localhost:5432/life_lite
JWT_SECRET=your_jwt_secret_here